html, body{
    width: 100%;
    height: 100%;
    background-color: #ffff;
    scroll-behavior: smooth;
}

nav {
    margin-left: 18%;
}
nav ul{
    list-style: none;
    padding: 10px;
    width: 77%;
    border-top: 1px solid grey;
    border-bottom: 1px solid gray;
    height: 50px;
}
nav li {
    float: left;
    padding-right: 25px;
}
nav li a {
    font-size: 1.1rem;
    text-decoration: none;
}
nav li a.active{
    color: black;
    cursor: default;
}
nav li a:hover, nav li a:focus{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#banner img{
    width: 65%;
    height: 350px;
    margin: auto;
    margin-top: 60px;
    display: block;
    object-fit: cover;
}
#titleSite{
    width: 100%;
    text-align: center;
    height: 50px
}
#titleSite span{
    font-size: 2rem;
    background-color: white;
    border: 4px solid black;
    padding: 10px;
    letter-spacing: 5px;
    top: 25px;

}

#banner-index{
    width: 100%;
    height: 100vh;
    display: block;
}
#banner-index img{
    width: 100vw;
    height: 100vh;
}
#tsparticles {
    z-index: 100;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
}
.ticket .row {
  border: none;
}
.ticket .col-sm .row div{
  width: 100%;
  text-align: center;
}
.img-index{
  max-height: 330px;
  height: 100%;
  opacity: 1;
  transition: .3s ease-in-out;
}
.ticket.container a:hover .img-index{
  opacity: .2;
  border-radius: 50%;
}
.ticket.container a:hover div:nth-child(2){
  opacity: 1;
}
.ticket.container a div:nth-child(2){
  opacity: 0;
  font-size: 2rem;
  position: absolute;
  top: calc(165px - 2rem);
  transition: .4s ease-in-out;
  background-color: #430505ad;
  color: white;
}
.ticket.container a{
  margin-left: 50%;
  transform: translate(-50%);
}
.text-presentation{
  margin: 2% 10%;
  background-color: white;
  box-shadow: 1px -1px 12px black;
  padding: 30px 15px;
  text-align: center;
  font-size: 1.4rem;
}
.anchor-index{
  color: black;
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%);
  z-index: 101;
  top: 80vh;
  font-size: 4rem;
  border: 2px solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 3.5rem;
  transition: .5s ease-in-out;
  cursor: pointer;
  background-color: transparent;
}
.anchor-index:hover{
  background-color: black;
  color: white;
}
/*.ticket span{
    padding: 10px 20px;
    background-color: #bdb4b1;
    margin-right: 50px;
    font-size: 1.1rem;
    transition-duration: 1s;
    border-radius: 50px;
    text-align: center;
}
.ticket span:hover{
    background-color: #0b0b0b;
    font-size: 1.3rem;
    transition-duration: 1s;
}
.ticket span a{
    color: white;
    font-weight: bold;
}
.ticket span a:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}*/
@media (min-width: 450px){
  #banner-index img, #banner-index, #tsparticles{
    height: 30vh;
  }
  .anchor-index{
    display: none;
  }
}
@media (max-width: 600px){
    #banner{
        display: none;
    }
    nav{
        margin-top: 180px;
    }
    nav ul{
        height: 80px;
    }
    .col-6{
        flex: none !important;
    }
}
@media (max-width: 878px){
    .ticket span{
        display: block;
        margin-bottom: 20px;
    }
    .ticket{
        top: 65%;
    }
}
