main, .row{
  background-color: #ffff;
}
.container{
  background-color: #bdb4b1;
}
footer{
  background-color: #4b4442;
}
header#header{
  background-color: #bdb4b1;
}
.ticket .row{
  background-color: #bdb4b1;
}
nav li a{
  color: gray;
}
.row{
  border: 2px solid #9b9b9b;
}
